<%- include('../layout') %>
<h2>Sign Up</h2>
<form action="/users/signup" method="POST">
  <div class="form-group"></div>
  <label for="username">Username</label>
  <input class="form-control" name="username" id="username" placeholder="Enter Username" />
  <div class="form-group"></div>
  <label for="password">Password</label>
  <input class="form-control" name="password" type="password" id="password" />
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
